<div class="row">
    <p class="option-icon fa fa-edit mapping-edit" data-id="{{ id }}" data-toggle="tooltip" data-placement="auto" title="Eintrag bearbeiten"></p>
    <p class="option-icon fa fa-trash mapping-delete" data-id="{{ id }}" data-toggle="tooltip" data-placement="auto" title="Eintrag löschen"></p>
    <div id="progress_bar_{{ id }}" class="progress-bar"></div>
</div>
